<%- include('header') %>
<main style="width: fit-content">
    <h1>Esemény részletei</h1>
    <table>
        <tr>
            <td>Megnevezés</td>
            <td>
                <%= event.name %>
            </td>
        </tr>
        <tr>
            <td>Esemény kezdete</td>
            <td>
                <%= event.startTime %>
            </td>
        </tr>
        <tr>
        <tr>
            <td>Esemény vége</td>
            <td>
                <%= event.endTime %>
            </td>
        </tr>
        <tr>
            <td>Helyszín</td>
            <td>
                <%= event.location %>
            </td>
        </tr>
        <tr>
            <td>Cél fotós létszám</td>
            <td>
                <%= event.photographersNeeded %>
            </td>
        </tr>
        <tr>
            <td><%= event.photographersApplied.length > 1 ? "Jelentkezett fotósok" : "Jelentkezett fotós" %>
                (<%= photographersApplied.length %>)
            </td>
            <td>
                <ul>
                    <% photographersApplied.forEach(function(photographer) { %>
                        <li>
                            <%= photographer.name %>
                            (<%= photographer.membershipLevel %>)
                        </li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Megjegyzés</td>
            <td>
                <%= event.comment %>
            </td>
        </tr>
    </table>
    <div id="buttons" style="float: right">
        <a href="/events">
            <button>Vissza az eseményekhez</button>
        </a>
    </div>
</main>
<%- include('footer') %>