<%- include('header') %>
<h1>Fotósok</h1>
<a href="/events">Eseménylista</a><br>
<a href="/photographer/new">
    <button>Fotós felvétele</button>
</a>
<table>
    <% photographers.forEach(function(photographer) { %>
        <tr>
            <td>
                <%= photographer.name %>
            </td>
            <td>
                <%= photographer.membershipLevel %>
            </td>
            <td>
                <a href="/photographer/edit/<%= photographer.id %>">Szerkesztés</a>
            </td>
            <td>
                <a href="/photographer/delete/<%= photographer.id %>">Törlés</a>
            </td>
        </tr>
    <% }); %>
</table>
<%- include('footer') %>